h1= @question.title
p= @question.body

- if current_user&.author?(@question)
  = link_to 'Remove question', question_path(@question), method: :delete

.answers
  = render @question.answers
  
= render 'answers/form'
